{% extends "base.twig" %}
{% block content %}

	<article>

		<section id="lead">
			<div class="row">
				<div id="description" class="small-11 medium-10 text-center column small-centered">Hand Built is <a href="http://danielbachhuber.com/2014/04/02/introducing-hand-built/">Daniel Bachhuber</a>, a developer who provides WordPress development and consulting. How can I help you?</div>
			</div>
		</section>

		<section id="services" class="home-panel">
			<div class="row with-border">
				<h1>Services</h1>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/plugin.svg" />
					<h3>Custom Development</h3>
					<p>Tailor-made WordPress solutions for your business needs</p>
				</div>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/code.svg" />
					<h3>Code Review</h3>
					<p>Audits for security, performance, and architecture</p>
				</div>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/migration.svg" />
					<h3>Data Migrations</h3>
					<p>Expertise in moving gigabytes of data between systems</p>
				</div>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/scaling.svg" />
					<h3>Scaling Services</h3>
					<p>Handle traffic growth and code complexity through automation</p>
				</div>

				<div class="small-6 small-offset-3 end text-center">
					<a class="button contact-me" href="mailto:daniel@handbuilt.co" title="Send an email to daniel@handbuilt.co">Email daniel@handbuilt.co</a>
				</div>

			</div>
		</section>

		<section id="my-work" class="home-panel">
			<div class="row with-border">
				<h1>My Work</h1>

			</div>

			<div class="row">

				<div class="small-12 medium-5 medium-offset-1 text-center column work">

					<h3>Clients</h3>

					<h4><a href="http://fusion.net"><img src="{{ bloginfo('template_directory') }}/img/fusion.svg" width="90px" alt="Fusion" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="right"><a href="https://www.airbnb.com"><img src="{{ bloginfo('template_directory') }}/img/airbnb.svg" width="190px" alt="Airbnb" /></a><div style="height:15px;"></div><a href="http://www.pbs.org/wgbh/frontline/"><img src="{{ bloginfo('template_directory') }}/img/frontline.svg" height="38px" width="180px" alt="PBS Frontline" /></a></div></h4>

					<h4><a href="http://www.suntimes.com"><img src="{{ bloginfo('template_directory') }}/img/chicagosuntimes.svg" height="20px" width="240px" alt="Chicago Sun-Times" /></a></h4>

					<h4><a href="https://easydigitaldownloads.com/"><img src="{{ bloginfo('template_directory') }}/img/edd.svg" height="33px" width="220px" alt="Easy Digital Downloads" /></a></h4>

					<h4><a href="http://newrepublic.com"><img src="{{ bloginfo('template_directory') }}/img/new-republic.svg" width="120px" alt="The New Republic" />&nbsp;&nbsp;&nbsp;</a><a href="http://getpantheon.com"><img src="{{ bloginfo('template_directory') }}/img/pantheon.svg" width="120px" alt="Pantheon" /></a></h4>

				</div>

				<div class="small-12 medium-5 text-center end column work">

					<h3>Current Projects</h3>

					<h4><a href="http://wp-cli.org">WP-CLI</a> / <a href="http://wp-api.org">WP-API</a></h4>
					<h4><a href="https://github.com/danielbachhuber/dictator">Dictator</a></h4>

					<h3 id="previously-at">Previously At</h3>

					<h4><a href="http://vip.wordpress.com"><img src="{{ bloginfo('template_directory') }}/img/wordpress_orange.svg" /></a>

					<h4><a href="http://hmn.md"><img src="{{ bloginfo('template_directory') }}/img/humanmade_orange.svg" /></a></h4>

				</div>

			</div>

		</section>


	</article>

{% endblock %}
