{% extends "base.twig" %}
{% block content %}

	<article>

		<section id="lead">
			<div class="row">
				<div id="description" class="small-11 medium-10 text-center column small-centered">Hand Built is Daniel Bachhuber, a passionate developer who uses WordPress to make the world a better place.</div>
			</div>
		</section>

		<section id="services" class="home-panel">
			<div class="row with-border">
				<h1>Services</h1>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/plugin.svg" />
					<h3>Custom Development</h3>
				</div>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/code.svg" />
					<h3>Code Review</h3>
				</div>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/migration.svg" />
					<h3>Data Migrations</h3>
				</div>

				<div class="small-12 medium-6 large-3 column text-center service">
					<img src="{{ bloginfo('template_directory') }}/img/scaling.svg" />
					<h3>Scaling Services</h3>
				</div>

			</div>
		</section>

		<section id="my-work" class="home-panel">
			<div class="row with-border">
				<h1>My Work</h1>

				<div class="small-12 medium-5 medium-offset-1 text-center column">
					<h3>Current Projects</h3>

					<h4><a href="http://wp-cli.org">WP-CLI</a></h4>
					
					<h4><a href="http://editflow.org">Edit Flow</a></h4>

					<h4><a href="https://github.com/danielbachhuber/dictator">Dictator</a></h4>

				</div>

				<div class="small-12 medium-5 text-center end column">
					<h3>Previously At</h3>

					<h4><a href="http://vip.wordpress.com"><img src="{{ bloginfo('template_directory') }}/img/wordpress_orange.svg" /></a></h4>

					<h4><a href="http://hmn.md"><img src="{{ bloginfo('template_directory') }}/img/humanmade_orange.svg" /></a></h4>

				</div>

			</div>
		</section>

        
	</article>

{% endblock %}
